<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>
      html, body, #app {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
